In [ ]:
import pandas as pd
import bs4


def save_unlocks(html_file, output_file, mapping):
    with open(html_file, "r", encoding="utf-8") as file:
        soup = bs4.BeautifulSoup(file, "html.parser")

    character_order = [
        cell.text
        for cell in soup.find("tbody").find("tr").find_all("td")
        if cell.text != "" and cell.text != "TAINTED"
    ]
    print(f"Number of characters: {len(character_order)}")
    print(f"Characters: {character_order}")

    unlocks_rows = soup.find("tbody").find_all("tr")[1:16]

    unlock_data = []

    # Iterate at the same time the character order and the row of unlocks
    for row in unlocks_rows:
        cells = row.find_all("td")
        unlock_name = cells[0].text.strip()
        cells = cells[1:]
        cells = [
            cell
            for cell in cells
            if cell.text != "" and any([c in cell["class"] for c in mapping.keys()])
        ]

        for char_name, cell in zip(character_order, cells):
            quality = mapping[cell["class"][0]]
            item = cell.text.strip()

            data = {
                "Character": char_name,
                "Mark": unlock_name,
                "Quality": quality,
                "Item": item,
            }

            unlock_data.append(data)

    # Create a DataFrame from the unlock data
    unlock_df = pd.DataFrame(unlock_data)
    display(unlock_df.head(3))
    display(unlock_df.tail(3))
    unlock_df = unlock_df.to_csv(output_file, index=False)

In [62]:
normal_file = "../UnlocksInfo/Normal.html"
normal_output = "../src/data/normal_characters_unlocks.csv"
class_to_quality_map = {
    "s6": "4",
    "s7": "3",
    "s5": "2",
    "s8": "1",
    "s4": "0",
    "s12": "4",
    "s11": "0"
}
save_unlocks(normal_file, normal_output, class_to_quality_map)

Number of characters: 17
Characters: ['Isaac', 'Magdalene', 'Cain', 'Judas', '???', 'Eve', 'Samson', 'Azazel', 'Lazarus', 'Eden', 'The Lost', 'Lilith', 'Keeper', 'Apollyon', 'The Forgotten', 'Bethany', 'Jacob & Esau']

   Character       Mark Quality                    Item
0      Isaac  Boss Rush       0  Isaac's Head (trinket)
1  Magdalene  Boss Rush       2             Maggy's Bow
2       Cain  Boss Rush       4        Cain's Other Eye

         Character       Mark Quality                    Item
235  The Forgotten  All Marks       0       Bone Baby (Co-Op)
236        Bethany  All Marks       0       Hope Baby (Co-Op)
237   Jacob & Esau  All Marks       0  Solomon's Baby (Co-Op)

In [63]:
normal_file = "../UnlocksInfo/TAINTED.html"
normal_output = "../src/data/tainted_characters_unlocks.csv"
class_to_quality_map = {
    "s6" : "0",
    "s12": "0",
    "s9" : "2",
    "s4" : "2",
    "s10" : "1",
    "s2" : "1",
    "s3" : "3",
    "s11" : "3",
    "s5" : "4",
    "s8" : "4",
}
save_unlocks(normal_file, normal_output, class_to_quality_map)

Number of characters: 17
Characters: ['Isaac', 'Magdalene', 'Cain', 'Judas', '???', 'Eve', 'Samson', 'Azazel', 'Lazarus', 'Eden', 'The Lost', 'Lilith', 'Keeper', 'Apollyon', 'The Forgotten', 'Bethany', 'Jacob & Esau']

   Character                     Mark Quality                  Item
0      Isaac  Isaac, ???, Satan, Lamb       1  Mom's Lock (Trinket)
1  Magdalene  Isaac, ???, Satan, Lamb       3  Holy Crown (Trinket)
2       Cain  Isaac, ???, Satan, Lamb       3  Gilded Key (Trinket)

         Character       Mark Quality             Item
116  The Forgotten  The Beast       2     Isaac's Tomb
117        Bethany  The Beast       2  Vengeful Spirit
118   Jacob & Esau  The Beast       0         Esau Jr.